.user-data-container{
    overflow: hidden !important;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #f8f8f8;
  padding: 20px;
  box-sizing: border-box;
}


.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 70px !important;
  text-align: left; 
  width: 100%; 
}



.container {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  width: 95%;
  max-width: 1200px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
    margin-bottom: 80px !important;

}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px !important;
}

.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(50% - 20px);
  min-width: 250px;
  
}

.inputGroup label {
  margin-bottom: 5px;
  font-weight: 500;
}


.inputGroup input {
  padding: 12px;
  border-radius: 6px;
  border: none;
  border: 1px solid #ddd;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f8f8f8;
}
input:hover{
  border: 1px solid #FEAF00;
  outline: none;
  background-color: white;
  color: #FEAF00;
}

.submitButton {
  width: 400px;
  margin: 20px auto 0;
  padding: 14px 0 ;
  border: none;
  border-radius: 6px;
  background-color: #FEAF00;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submitButton:hover {
  background-color: #F8D442;
  scale: 1.05;
      letter-spacing: 1.5px;

}

