.navbar {
  width: 100%;
  height: 60px;
  background: white;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0 !important;
  z-index:-999;
  margin-top:6px !important;
  margin-bottom:8px !important;
  
  }

.leftBox {
  width: 30px;
  height: 30px;
  color: #C4C4C4;
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
margin-left: 35px !important;
}
.displayEmail span{
  font-weight: 500;
  font-size: 14px;
  color: #6C6C6C;
  margin-left: -220px !important;
}

.playIcon {
  width: 18px;
  height: 18px;
  color: #C4C4C4;
  /* margin-left: px !important; */

  transform: scaleX(-1);  
}


.rightArea {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 10px !important;

}

.searchBox {
  position: relative;

}

.searchBox input {
  width: 420px;
  height: 40px;
  border-radius: 12px;
  padding: 0 40px 0 15px;
  border: 1px solid #ddd;
  outline: none;

}

.searchIcon {
  position: absolute;
  right: 12px;
  top: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

.container {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.bellRegular {
  position: absolute;
  animation: keyframes-fill 0.5s;
}

.bellSolid {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.5s;
}

.container input:checked ~ .bellRegular {
  display: none;
}

.container input:checked ~ .bellSolid {
  display: block;
}

.container input {
  position: absolute;
  opacity: 0;
}

/* Animation */
@keyframes keyframes-fill {
  0% { opacity: 0; }
  25% { transform: rotate(25deg); }
  50% { transform: rotate(-20deg) scale(1.2); }
  75% { transform: rotate(15deg); }
}

