.auth_container{
    background: linear-gradient(to right,#FEAF00,#F8D442) ;
    overflow: hidden;

}
::selection {
    background-color:#FEAF00;
    color: white
}
.sidebar-container .ps-sidebar-container{
    margin-left: -15px !important;
    background-color: #F2EAE1 !important;
    height: 100vh ;
    padding: 0px 40px !important;
      /* text-align: left !important; */
      position: fixed !important;
      top: 0;
      left: 0
      

}
.sidebar-container .ps-menu-button{
    transition: all 0.4s ease-in-out;
 
}
.sidebar-container .ps-menu-button:hover{
    background-color: #FEAF00 !important;
    color: white !important;
    border-radius: 4px;
  /* text-align: left !important; */
}


.sidebar-container.collapsed h6 {
    font-size: 10px !important;
}
.sidebar-container.collapsed img{
    width: 50px !important;
}
.sidebar-container.collapsed h3{
    font-size: 10px !important;
    font-weight: bold !important;
}

.sidebar-container.collapsed h3::before {
  display: none !important;
}

.sidebar-container.collapsed .ps-sidebar-container {
  padding: 0px !important;
}

.sidebar-container.collapsed h2 {
  text-align: center !important;
  font-size: 13px;
  padding: 9px 6px !important;
}

.sidebar-container.collapsed .fa-bars {
  margin-right: 10px !important;
  
}

.sidebar-container.collapsed .ps-menu-button {
  justify-content: center !important;
  padding-left: 36px !important;
  padding-right: 22px !important;
}

.sidebar-container .end-menu{
        margin-left: 10px !important;
      width: 16px !important;
      height: 16px !important;
      transition: all 0.4s ease-in-out;
    
 
}
.sidebar-container .end-menu:hover{
    transform: scale(1.3);
    margin-left: 15px !important;
  
}
